---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


$valentina-blue-light:#737A8C;
$valentina-blue:#070A2A;

$text-color: #FFF;
$link-color : steelblue;
$link-color-hover : $valentina-blue-light;

$btn-color: steelblue;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "typo",
        "header",
        "footer"
;


body{
	// background: url("../images/simple_dashed.png");
	// overflow-x: hidden;
  color:$text-color;
}

html {
  background: url(../images/manual_pattern_making.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no_display {
  display: none;
}
.homeblock {
  padding: 5em 0;
}

#main {
  background: white;
  color: $grey-color-dark;
}

#jumbotron {
  text-align: center;
  height:90vh;
  margin: 0;
  padding:0;
  .logo  {
    padding-top: 5%;
  }
  h3 {
    padding-bottom: 1em;
  }
  .tagline {
  }
  a {
    color: #000000;
  }
  a:link {
    color: #000000;
  }
  a:visited {
    color: #CC0000;
  }
  a:hover {
    color: #FF3300;
  }
}
/* curtains */
#curtains {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7) url(../images/curtains.png) repeat top left;
  z-index: -1;
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

$blurb-img-size:100px;

#team {
	margin-top: 2em;
	text-align: center;

	.blurb {
	  margin-bottom: 1em;

	  img{
	    max-height:$blurb-img-size;
	    max-width:$blurb-img-size;
	  }

		canvas {
			 -webkit-filter:invert(100%);
			 filter: invert(1);
			 filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
	 }
	}
}

.circular {
	width: $blurb-img-size;
	height: $blurb-img-size;;
  border-radius: $blurb-img-size;
  -webkit-border-radius: $blurb-img-size;
  -moz-border-radius: $blurb-img-size;
}


#downloads {
  list-style: none;

  img {
    width: 24px;
    height: 24px;
  }

  li {
    padding : .5em 1em;
    display: inline-block;
    a.button-download {
      border:none;
      &:hover {
        color : $valentina-blue-light
      }

    }
    a.button {
      // padding: 5px 6px 5px 30px;
      &> img {
        vertical-align: middle;
        padding-right: 5px
      }

    }
  }

}

#social {
  margin: 0 auto;
  list-style: none;
  width: auto;
  text-align:center;
  li {
    display: inline-block;
    padding: 1em;
    img {

      max-width: 30px;
    }

  }
}

#contact {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.7em;
  a {
    font-size: 1.5em;
    font-weight: bold;
  }
}


#video {

  .gifffy {
    margin:0 auto;
    text-align: center;
  }
}

#community {


  h3 {
    color:$valentina-blue;
    margin-bottom: 1em;
    text-align: center;
  }

  .feature-community {
    text-align: center;
    padding: 1em;
    margin-right: 1em;

    background: #fff;
    border: 2px solid #eee;
    margin: 2em 0;
    border-radius: 4px;
    box-shadow: 0 0 40px #eee;

  }

}
#features, #community {


  img {
    max-height: 250px;
    max-width: 250px;
  }

  .feature-community {
    h5 {
      font-size: 1.3em;
    }
    img {
      height: 200px;
    }
  }

  .feature {
    text-align: center;
    overflow: hidden;

    h5 {
      text-transform: capitalize;
    }
  }
  p {
    font-size: .9em;
    margin: .3em 0;
    line-height: 1.35em;
  }
}
.pp_pic_holder {
  color:$grey-color-dark  ;
}
