<div id="morelinks" style="text-align:center;">
    <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.html"><img src="../images/gplv3-88x31.png" alt="GPLv3+"></a>       
    <a href="https://ci.appveyor.com/project/dismi_/valentina" target="_blank"><img src="https://ci.appveyor.com/api/projects/status/rkocun56x0h3nxu1" style="border:2;display:inline;margin-left:0"/></a>       
    <a href="https://codeship.com/projects/107743" target="_blank"><img src="https://codeship.com/projects/49f7d440-50a8-0133-91ae-5abe51be460d/status?branch=develop" style="border:2;display:inline;margin-left:0"/></a>&nbsp|
		<a href="https://ci.appveyor.com/project/dismi_/valentina" target="_blank"><img src="https://ci.appveyor.com/api/projects/status/rkocun56x0h3nxu1" style="border:2;display:inline;margin-left:0"/></a>&nbsp|
		<a href="https://drone.io/bitbucket.org/dismine/valentina/latest" target="_blank"><img src="https://drone.io/bitbucket.org/dismine/valentina/status.png" style="border:2;display:inline;margin-left:0"/></a>
        <a target="_blank" href="http://www.gnu.org/licenses/gpl-3.0.html"><img src="./img/gplv3-88x31.png" alt="GPLv3+"></a>
        <p><script type="text/javascript" src="http://www.openhub.net/p/714299/widgets/project_factoids_stats.js"></script></p>
    <a href="http://www.SiteUptime.com/"><img src="http://www.siteuptime.com/images/Siteuptime-Button-Orange.gif" border="0" width="88" height="31" alt="SiteUptime Web Site Monitoring Service"></a>
</div>
