<ul id="social">

  <li>
    <a target="_blank" href="http://www.twitter.com/ValentinaPSW">
      <img src="/images/sns/twitter.png" title="Follow us on Twitter">
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.facebook.com/Valentina.Project">
      <img src="/images/sns/facebook.png" title="Follow us on Facebook">
    </a>
  </li>
  <li>
    <a target="_blank" href="https://github.com/valentina-project/">
      <img src="/images/sns/github.png" title="Follow us on Github">
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.youtube.com/channel/UC61WgbNdZ_wqxKf9PzJrjgA">
      <img src="/images/sns/youtube.png" title="Follow us on YouTube">
    </a>
  </li>
</div>
