<section id="community" class="homeblock">
  <h3>Fashion Makers : A Global Community</h3>
  <div class="row">
    <div class="one-third column">
      <div class="feature-community">
        <i class="fa fa-map-marker icon-md icon-color1"></i>
        <a class="preview" title="" href="/images/portfolio/full/.png"><img src="images/portfolio/thumb/fashion.jpg" alt=""></a>
        <p>Fashion designers</p>
      </div>
    </div>

    <div class="one-third column">
      <div class="feature-community">
        <i class="fa fa-html5 icon-md icon-color4"></i>
        <a class="preview" title="." href="/images/portfolio/full/.png"><img src="/images/portfolio/thumb/learn.jpg" alt=""></a>
        <p>Tutorials, workshops, online courses...</p>
      </div>
    </div>

    <div class="one-third column">
      <div class="feature-community">
        <i class=" fa fa-users icon-md icon-color5"></i>
        <a class="preview" title="The possibilities for coupling with 3D technologies : Makehuman, Blender, etc." href="/images/portfolio/full/3D_Rendering.png">
          <img src="/images/portfolio/thumb/3D_Rendering.png" alt=""></a>
        <p>Tech Edge : 3D Parametric Rendering.</p>
      </div>
    </div>


  </div>
</section>
