<section id="features" class="row homeblock">
  <div class="feature four columns">
    <i class="fa  fa-search icon-md icon-color2"></i>
    <h5>Expert pattern making tool</h5>
    <a class="preview" title="Use the snap interface to easily create your shapes." href="/images/portfolio/full/TrueDarts.gif">
      <img src="/images/portfolio/thumb/pattern.png" alt=""></a>
    <p>Easily create reliable and complex patterns.</p>
  </div>


  <div class="feature four columns">
      <i class="fa fa-upload icon-md icon-color7"></i>
      <h5>Standard Compliance</h5>
      <a class="preview" title="Export the results to different formats (SVG) and use it in your own your own documents" href="/images/portfolio/full/.png"><img src="/images/portfolio/thumb/standards.png" alt=""></a>
      <p>Formats and process compliants with fashion industry standards</p>
  </div>


  <div class="feature four columns">
      <i class=" fa fa-weibo icon-md icon-color1"></i>
      <h5>International Product</h5>
      <a class="preview" title="." href="/images/portfolio/full/multiling.png"><img src="/images/portfolio/thumb/multiling.png" alt=""></a>
      <p>US, Europe, Asia, Russia : team.</p>
  </div>
</section>

<section id="video">
  <p>
    <img class="gifffy" data-gifffer-width="70%" data-gifffer="/images/portfolio/full/TrueDarts.gif" />
  </p>
</section>
