
<section id="features" class="homeblock">
  <div class="row">
      <div class="feature four columns">
        <i class="fa  fa-search icon-md icon-color2"></i>
        <h5>Expert pattern making tool</h5>
        <a class="preview" title="Use the snap interface to easily create your shapes." href="/images/portfolio/full/TrueDarts.gif">
          <img src="/images/portfolio/thumb/pattern.png" alt=""></a>
        <p>Easily create reliable and complex patterns.</p>
      </div>


      <div class="feature four columns">
          <i class="fa fa-upload icon-md icon-color7"></i>
          <h5>Standard Compliance</h5>
          <a class="preview" title="Export the results to different formats (SVG) and use it in your own your own documents" href="/images/portfolio/full/.png"><img src="/images/portfolio/thumb/standards.png" alt=""></a>
          <p>Formats and process compliants with fashion industry standards</p>
      </div>


      <div class="feature four columns">
          <i class=" fa fa-weibo icon-md icon-color1"></i>
          <h5>An International Product</h5>
          <a class="preview" title="." href="/images/portfolio/full/multiling.png"><img src="/images/portfolio/thumb/multiling.png" alt=""></a>
          <p>US, Europe, Asia, Russia : team.</p>
      </div>

    </div>

    <div class="row">


      <div class="feature feature-community four columns">
        <i class="fa fa-map-marker icon-md icon-color1"></i>
        <h5>Open-Source Software</h5>
        <a class="preview" title="" href="/images/portfolio/full/.png"><img src="images/portfolio/thumb/open.jpg" alt=""></a>

        <p>Valentina is an Open-Source Technology.</p>
      </div>

      <div class="feature feature-community four columns">
        <i class="fa fa-html5 icon-md icon-color4"></i>
        <h5>Easy to Learn & Support</h5>
        <a class="preview" title="." href="/images/portfolio/full/.png"><img src="/images/portfolio/thumb/learn.jpg" alt=""></a>
        <p>Tutorials, workshops, online courses...</p>
      </div>


      <div class="feature feature-community four columns">
        <i class=" fa fa-users icon-md icon-color5"></i>
        <h5>Expendable Features</h5>
        <a class="preview" title="The possibilities for coupling with 3D technologies : Makehuman, Blender, etc." href="/images/portfolio/full/3D_Rendering.png">
          <img src="/images/portfolio/thumb/3D_Rendering.png" alt=""></a>
        <p>R&D Adidas : 3D Rendering.</p>
      </div>


    </div><!--/.container-->
</section><!--/#services-->
