<div id="jumbotron" class="homeblock">

<div class="logo">
  <!-- <img src="/images/Valentina-Logo_v1_med.png" alt="Valentina Logo" title="Valentina" /> -->
  <h3 class="tagline">Valentina is an Open Source pattern drafting software</h3>
</div>

{% include home/download.html %}

</div>

<!-- Valentina has been designed to be the foundation of a new stack of open source tools to remake the garment industry.

Small-batch and custom-sized clothing manufacturing is essential to create a sustainable future, preserve small- to medium-sized textile spinning and weaving manufacturers, enable independent and small designers and manufacturers to scale up to make a decent living, rebuild local garment districts, and reduce or eliminate slave labor. -->
