<div id="jumbotron" class="homeblock">
  <div style="text-align: center;background-color: lightgrey;color: darkgrey;padding:10px;">
    <div id="top-navbar" class="container" style="padding:5px 0 0 5px">
    <a target="_blank"  href="http://valentina-project.org">Home</a> |
    <a target="_blank" href="http://valentina-project.org">About</a> |
    <a target="_blank" href="http://valentina-project.org">News</a> |
    <a target="_blank" href="http://valentina-project.org/">Download</a> |
    <a target="_blank" href="http://valentina-project.org">Blog</a> |
    <a target="_blank" href="http://wiki.valentinaproject.org/">Wiki</a> |
    <a href="http://forum.valentina-project.org/">Forum</a>
    </div>
  </div>

<div class="logo">
  <!-- <img src="/images/Valentina-Logo_v1_med.png" alt="Valentina Logo" title="Valentina" /> -->
  <h3 class="tagline">Valentina is open source pattern drafting software</h3>
</div>

{% include home/download.html %}

</div>

<!-- Valentina is the foundation of a new stack of open source tools to remake the garment industry.

Small-batch and custom-sized clothing manufacturing is essential to create a sustainable future, preserve small- to medium-sized textile spinning and weaving manufacturers, enable independent and small designers and manufacturers to scale up to make a decent living, rebuild local garment districts, and reduce or eliminate slave labor. -->
