<ul id="social" class="homeblock">

  <li>
    <a target="_blank" href="http://www.twitter.com/ValentinaPSW">
      <img src="/images/sns/twitter.png" title="Follow us on Twitter">
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.facebook.com/Valentina.Project">
      <img src="/images/sns/facebook.png" title="Follow us on Facebook">
    </a>
  </li>
  <li>
    <a target="_blank" href="https://plus.google.com/113629722036209576515?prsrc=3">
      <img src="/images/sns/google.png" title="Follow us on Google+">
    </a>
  </li>
  <li>
    <a target="_blank" href="https://www.youtube.com/channel/UC61WgbNdZ_wqxKf9PzJrjgA">
      <img src="/images/sns/youtube.png" title="Follow us on YouTube">
    </a>
  </li>
</div>
